<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <title>Deeper</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <div class="col-md-8" style="display: flex; justify-content: center; align-items: center;">
          <h1 class="mt-2" style="width: 100%;">Projetos</h1>
          {% if request.path != '/projects/add' %}
            <a href="{% url 'addProject' %}" class="btn btn-primary" style="height: fit-content;" >
                Adicionar Projeto
            </a>
          {% else %}
            <a href="{% url 'index' %}" class="btn btn-primary" >
                Voltar
            </a>
          {% endif %}
        </div>
        <hr class="mt-0 mb-4" />
        <div class="col-md-8" style="display: flex; justify-content: space-around; flex-direction: column; align-items: center; width: 100%; ">
            {% block content %} {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
