{% extends "base.html" %}
{% load static %}
{% block content %}   
    {% for project in projects %}
        <div class="card mb-2" style="min-height: 350px; max-width: 250px; margin: 0 20px;">
            <img class="card-img-top" src="{{ project.image }}" style="height: 150px;">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p style="height: 80px;" class="card-text">{{ project.description }}</p>
                    <a href="{% url 'project' project.pk %}"
                    class="btn btn-primary" style="margin-bottom: 5px; display: flex; justify-content: center;">
                    Ver
                    </a>
                    <a href="{% url 'rmProjectButton' project.pk %}"
                    class="btn btn-danger" style="display: flex; justify-content: center;">
                    Remover
                    </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}